@{
    ViewData["Title"] = "Account";
}

<div class="container">
    <div class="col-md-8">
        Account Info
    </div>
    <div class="col-md-4">
        <label>Interested Stocks</label>
        <ul>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
            <li>Stock</li>
        </ul>
    </div>
</div>
