@{
    ViewData["Title"] = "Stock Info";
}

<div class="container">
    <div class="col-md-8">
        Information of Stock
    </div>
    <div class="col-md-4">
        <select>
            <option>Stock</option>
            <option>Stock</option>
            <option>Stock</option>
            <option>Stock</option>
            <option>Stock</option>
            <option>Stock</option>
            <option>Stock</option>
            <option>Stock</option>
        </select>
    </div>
</div>
